__pycache__/
*.py[cod]
*$py.class
node_modules/
dist/
.eslintcache
.env
.env.local
.env.*.local
.env.production
*.secret
instance/
.venv
.vscode
tmp/
npm-debug.log*
.npm/
logs/
*.log
.ipynb_checkpoints
*.wav
*.mp3
*.m4a
flask/static/
vuejs/README.md
vuejs/eslint.config.js
vuejs/public/
